<div class="container" style="max-width:800px">


<!-- <h1 class="text-center">Traffic Manager Hub</h1> -->

{{#if allSites}}
<div class="alert alert-success" role="alert">
  No alerts in the last 7 days.
</div>
{{/if}}

<h1 class="text-center">Last <i>60 minutes</i> on your sites</h1>

{{#unless allSites}}
<div class="text-center">
  <p>There are no sites in this Traffic Manager Hub instance.</p>
  <br />
  <p><a class="btn btn-primary" href="/add-site">Create a new site now</a></p>
</div>
{{/unless}}

<br /><br />

{{#each allSites}}

<div class="panel">
  <div class="panel-heading">
    <h2 class="text-center">
      <a href="/site/{{this.siteKey}}">
        {{this.siteName}}
      </a>
    </h2>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-xs-4">
        <div class="xlead">
          <p>{{totals.requestsLastHour}} Total Requests</p>
          <p class="small">Frame avg: {{totals.requestsFrameAvg}}/min</p>
          <p class="small">24h avg: {{totals.requests24hAvg}}/min</p>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="xlead">
          <p>{{totals.blockedLastHour}} Throttled Requests</p>
          <p class="small">Frame avg: {{totals.blockedFrameAvg}}/min</p>
          <p class="small">24h avg: -/min</p>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="xlead">
          <p class="small">{{totals.blocked}} IP Hops</p>
          <p class="small">{{totals.blocked}} IPs Banned</p>
          <p class="small">{{totals.blocked}} IPs Whitelisted</p>
          <!-- <a href="/site/{{this.siteKey}}" class="btn btn-primary btn-sm">
            View details
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>

<br />
{{/each}}

</div>
