<div class="container" style="max-width:800px">


<!-- <h1 class="text-center">Traffic Manager Hub</h1> -->

<div class="alert alert-success" role="alert">
System status: Green
</div>

{{#if allSites}}
<div class="panel panel-success">
  <div class="panel-heading">
   <h3 class="panel-title">Status summary</h3>
 </div>
  <div class="panel-body">
    <p>No alerts in the last 7 days.</p>
  </div>
</div>
{{/if}}

{{#unless allSites}}
<div class="text-center">
  <p>There are no sites in this Traffic Manager Hub instance.</p>
  <br />
  <p><a class="btn btn-primary" href="/add-site">Create a new site now</a></p>
</div>
{{/unless}}


<!-- <h2>All sites</h2> -->
{{#each allSites}}

  <h2>
    <a href="/site/{{this.siteKey}}">
      {{this.siteName}}
    </a>
  </h2>
  <!-- <p class="small">Last 60 minutes</p> -->

  <div class="row">
    <div class="col-sm-6">
      <div class="lead">
        <p>{{totals.requests}} Requests</p>
        <p class="small">Frame avg: {{totals.requestsFrameAvg}}/min</p>
        <p class="small">24h avg: {{totals.requests24hAvg}}/min</p>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="lead">
        <p>{{totals.blocked}} Blocked requests</p>
        <p class="small">Frame avg: {{totals.blockedFrameAvg}}/min</p>
        <p class="small">24h avg: -/min</p>
      </div>
    </div>


  </div>

  <br />
  <hr />
  <br />

{{/each}}

</div>
