<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <title>Traffic Manager Hub</title>
  <link href="/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/public/css/app.css" rel="stylesheet" type="text/css">

  <script src="/public/js/jquery.min.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
  <script src="/public/js/stupidtable.js"></script>
  <script src="/public/js/main.js"></script>

  <link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="/public/css/animate.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>
          <span class="navbar-brand">
            <img class="navbar-icon" src="/public/img/tm-icon-64.png" alt="Traffic Manager logo representing a chart" />
            Traffic Manager
          </span>
        </li>

        <li class="separator"></li>

        <li><a href="/">Dashboard</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/readme">Readme</a></li>
        <!-- <li><a href="/login">Login</a></li> -->

        <li class="separator"></li>

          <li class="tm-context-selector">
            <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{#if thisSite.meta.name}}
                {{thisSite.meta.name}} <span class="caret"></span>
              {{else}}
                Select a site <span class="caret"></span>
              {{/if}}
            </a>

            <ul class="dropdown-menu">
              {{#each allSites}}
                <li><a href="/site/{{this.siteKey}}">{{this.name}}</a></li>
              {{/each}}
            </ul>

          <!--
          <li class="separator"></li>
          <li><a href="/site/{{thisSite.meta.siteKey}}/overview">Oveview</a></li>
          <li><a href="/site/{{thisSite.meta.siteKey}}/log-viewer">Log viewer</a></li>
          <li><a href="/site/{{thisSite.meta.siteKey}}/settings">Settings</a></li>
          -->

          <!-- <li><a href="/ui/{{site.id}}/dashboard">Dashboard</a></li> -->
      </ul>

    </div>
  </nav>

  <!-- <br /><br /><br /> -->

  <div class="tm-wrapper {{#if ui.wrapperClass}}{{ui.wrapperClass}}{{/if}}">
    <div class="container-fluid">
      {{{body}}}
    </div>
  </div>

</body>
</html>
